In [32]:
import pandas as pd

In [33]:
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
checkout.drop_duplicates(['user_id'],inplace=True)
checkout.to_csv('checkout-dedupe.csv',index=False)

Import all the files

In [34]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [35]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [36]:
df1 = visits.merge(cart, how='left')

Step 3: How long is `visits_cart`?

In [37]:
len(df1)

2000

In [38]:
df1.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT

Step 4: How many timestamps are null for `cart_time`?

In [39]:
cart_time_null = df1[df1.cart_time.isnull()]

In [40]:
len(cart_time_null)

1652

In [41]:
cart_time_null.head(5)

                                user_id          visit_time cart_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00       NaT
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00       NaT
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00       NaT
5  7bc62113-d51d-4e6b-85e0-1cf29e3de74a 2017-06-03 20:05:00       NaT
6  6f22cd44-bc63-4449-a9af-2651859da2f9 2017-03-18 23:09:00       NaT

In [42]:
not_cart_percent = len(cart_time_null) / len(df1)*100

In [43]:
print(f'{not_cart_percent:.1f}%')

82.6%

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [44]:
df2 = cart.merge(checkout, how='left')

In [45]:
df2.head()

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
2,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
3,b594862a-36c5-47d5-b818-6e9512b939b3,2017-09-27 08:22:00,2017-09-27 08:26:00
4,a68a16e2-94f0-4ce8-8ce3-784af0bbb974,2017-07-26 15:48:00,NaT

In [46]:
checkout_isnull = df2[df2.checkout_time.isnull()]

In [47]:
checkout_isnull.head()

                                 user_id           cart_time checkout_time
1   4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00           NaT
4   a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00           NaT
10  fd80ce93-ae6e-4c0b-9ea4-561f84152026 2017-06-07 01:18:00           NaT
19  48a23075-694b-417d-8449-9df921ad95aa 2017-07-09 15:28:00           NaT
21  5d7d121a-817c-4b84-b4d6-5388092b9aec 2017-06-10 14:54:00           NaT

In [48]:
not_checkout_percent = len(checkout_isnull) / len(df2)*100

In [49]:
print(f'{not_checkout_percent:.2f}%')

35.06%

Step 7: Merge it all together

In [50]:
checkout_isnotnull = df2[~df2.checkout_time.isnull()].reset_index(drop=True)

In [51]:
df3 = df1.merge(df2, how='left').merge(purchase, how='left')

In [52]:
df3_new = df3[~df3.cart_time.isnull()].reset_index()

In [53]:
df3_new

,index,user_id,visit_time,cart_time,checkout_time,purchase_time
0,1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
1,2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
2,14,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00,2017-01-27 17:10:00,2017-01-27 17:12:00
3,31,1868e912-b38c-4ef0-8824-5665c42288e5,2017-03-17 11:48:00,2017-03-17 11:56:00,2017-03-17 11:58:00,NaT
4,37,6d11f38d-03f5-486e-a62d-e05a2e39786b,2017-09-15 16:08:00,2017-09-15 16:30:00,NaT,NaT
...,...,...,...,...,...,...
451,2093,f46c88d0-2441-40a8-97fe-6841ff6f050d,2017-09-06 08:42:00,2017-09-06 09:02:00,2017-09-06 09:22:00,2017-09-06 09:28:00
452,2095,1f2eb2e0-7afe-4ebd-acc4-9534d6ad9eed,2017-11-21 17:53:00,2017-11-21 18:13:00,NaT,NaT
453,2097,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:28:00,2017-06-25 08:39:00
454,2098,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:28:00,2017-06-25 08:35:00
455,2099,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:28:00,2017-06-25 08:18:00

Step 8: % of users who got to checkout but did not purchase

In [54]:
purchase_isnull = df3_new[(~df3_new.checkout_time.isnull()) & (df3_new.purchase_time.isnull())].reset_index(drop=True)

In [55]:
purchase_isnull

,index,user_id,visit_time,cart_time,checkout_time,purchase_time
0,31,1868e912-b38c-4ef0-8824-5665c42288e5,2017-03-17 11:48:00,2017-03-17 11:56:00,2017-03-17 11:58:00,NaT
1,54,dc5d8fe9-3321-4c86-b66d-7c343decdc4a,2017-09-13 13:06:00,2017-09-13 13:30:00,2017-09-13 13:26:00,NaT
2,146,fffc2dfc-fdc1-407a-9c6d-e6507157d1a6,2017-07-03 19:20:00,2017-07-03 19:40:00,2017-07-03 19:51:00,NaT
3,151,0182a7b9-2099-4476-8f7d-51f2c2f71dff,2017-09-08 16:26:00,2017-09-08 16:34:00,2017-09-08 16:59:00,NaT
4,161,2faac6a9-974c-49fb-b815-44f3a5fc06e1,2017-03-27 21:51:00,2017-03-27 21:54:00,2017-03-27 22:19:00,NaT
...,...,...,...,...,...,...
77,2024,61916219-9600-4c72-93fc-666dd9285fb9,2017-01-04 05:20:00,2017-01-04 05:23:00,2017-01-04 05:32:00,NaT
78,2037,699acf1d-b5e0-4573-a54b-97ecd4c93572,2017-08-19 08:09:00,2017-08-19 08:32:00,2017-08-19 08:56:00,NaT
79,2056,4686af83-e275-49f7-a82b-c32f3521372a,2017-09-23 16:46:00,2017-09-23 16:55:00,2017-09-23 17:16:00,NaT
80,2070,3a6487df-d934-4d28-b531-1166621eb7db,2017-08-12 17:59:00,2017-08-12 18:10:00,2017-08-12 18:17:00,NaT
81,2078,5cda3654-faab-4432-ae28-0edca81de2f5,2017-08-23 08:29:00,2017-08-23 08:55:00,2017-08-23 09:05:00,NaT

In [56]:
not_purchase_percent = len(purchase_isnull) / len(df3_new) *100

In [57]:
print(f'{not_purchase_percent:.2f}%')

17.98%

Step 9: check each part of the funnel, let's print all 3 of them again

In [58]:
print(f'The rate of who visited the page but did not put a T-shirt into the cart is: {not_cart_percent:.1f}%')
print(f'The rate of who made a cart but did not check out is: {not_checkout_percent:.2f}%')
print(f'The rate of who checked out but did not purchase is: {not_purchase_percent:.2f}%')

The rate of who visited the page but did not put a T-shirt into the cart is: 82.6%
The rate of who made a cart but did not check out is: 35.06%
The rate of who checked out but did not purchase is: 17.98%

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

In [59]:
good_df = df3_new[(~df3_new.checkout_time.isnull()) & (~df3_new.purchase_time.isnull())].reset_index(drop=True)

In [60]:
good_df['time_to_purchase'] =  good_df.purchase_time - good_df.visit_time

In [61]:
good_df.time_to_purchase

0     0 days 00:44:00
1     0 days 00:38:00
2     0 days 00:41:00
3     0 days 01:00:00
4     0 days 01:00:00
            ...
247   0 days 00:29:00
248   0 days 00:46:00
249   0 days 00:32:00
250   0 days 00:28:00
251   0 days 00:11:00
Name: time_to_purchase, Length: 252, dtype: timedelta64[ns]

In [62]:
good_df.time_to_purchase.mean()

Timedelta('0 days 00:43:12.380952380')

Step 11: examine the results

Step 12: average time to purchase