In [1]:
import pandas as pd

Import all the files

In [2]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [3]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [25]:
df1 = visits.merge(cart, how='left').reset_index(drop=True)

In [163]:
df1.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT

Step 3: How long is `visits_cart`?

In [26]:
len(df1)

2000

In [27]:
df1.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT

In [75]:
visits_cart.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     2000 non-null   object
 1   visit_time  2000 non-null   datetime64[ns]
 2   cart_time   348 non-null    datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 127.0+ KB

Step 4: How many timestamps are null for `cart_time`?

In [28]:
cart_time_null = df1[df1.cart_time.isnull()].reset_index(drop=True)

In [29]:
len(cart_time_null)

1652

In [30]:
cart_time_null.reset_index(drop=True)

                                   user_id          visit_time cart_time
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00       NaT
1     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00       NaT
2     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00       NaT
3     7bc62113-d51d-4e6b-85e0-1cf29e3de74a 2017-06-03 20:05:00       NaT
4     6f22cd44-bc63-4449-a9af-2651859da2f9 2017-03-18 23:09:00       NaT
...                                    ...                 ...       ...
1647  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00       NaT
1648  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00       NaT
1649  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00       NaT
1650  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00       NaT
1651  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00       NaT

[1652 rows x 3 columns]

In [85]:
cart_time_null.head(5)

                                user_id          visit_time cart_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00       NaT
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00       NaT
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00       NaT
5  7bc62113-d51d-4e6b-85e0-1cf29e3de74a 2017-06-03 20:05:00       NaT
6  6f22cd44-bc63-4449-a9af-2651859da2f9 2017-03-18 23:09:00       NaT

Step 5: What percentage only visited?

In [31]:
vis_percent = len(cart_time_null) / len(df1)*100

In [32]:
print(f'{vis_percent:.1f}%')

82.6%

In [79]:
print(type(cart_time_null))

<class 'pandas.core.frame.DataFrame'>

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [58]:
cart_time_isnotnull = df1[~df1.cart_time.isnull()].reset_index(drop=True)

In [33]:
df2 = cart.merge(checkout, how='left').reset_index(drop=True)

In [118]:
df_new = cart.merge(checkout, how='left')

In [138]:
checkout_percentage = len(df_new) / len(cart_time_null)*100

In [139]:
print(str(round(checkout_percentage))+'%')

21%

In [34]:
df2.head()

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
2,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
3,b594862a-36c5-47d5-b818-6e9512b939b3,2017-09-27 08:22:00,2017-09-27 08:26:00
4,a68a16e2-94f0-4ce8-8ce3-784af0bbb974,2017-07-26 15:48:00,NaT

In [35]:
checkout_isnull = df2[df2.checkout_time.isnull()].reset_index(drop=True)

In [36]:
checkout_isnull.head()

                                user_id           cart_time checkout_time
0  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00           NaT
1  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00           NaT
2  fd80ce93-ae6e-4c0b-9ea4-561f84152026 2017-06-07 01:18:00           NaT
3  48a23075-694b-417d-8449-9df921ad95aa 2017-07-09 15:28:00           NaT
4  5d7d121a-817c-4b84-b4d6-5388092b9aec 2017-06-10 14:54:00           NaT

In [37]:
not_checkout_percent = len(checkout_isnull) / len(df2)*100

In [38]:
print(f'{not_checkout_percent:.1f}%')

35.1%

Step 7: Merge it all together

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
1,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00,2017-01-27 17:10:00,2017-01-27 17:12:00
2,1868e912-b38c-4ef0-8824-5665c42288e5,2017-03-17 11:48:00,2017-03-17 11:56:00,2017-03-17 11:58:00,NaT
3,3ccdaf69-2d30-40de-b083-51372881aedd,2017-01-08 20:21:00,2017-01-08 20:38:00,2017-01-08 20:52:00,2017-01-08 21:02:00
4,3ccdaf69-2d30-40de-b083-51372881aedd,2017-01-08 20:21:00,2017-01-08 20:38:00,2017-01-08 20:52:00,2017-01-08 21:21:00

In [69]:
checkout_isnotnull = df2[~df2.checkout_time.isnull()].reset_index(drop=True)

In [39]:
df3 = df2.merge(purchase, how='left').reset_index(drop=True)

In [40]:
df3

,user_id,cart_time,checkout_time,purchase_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00,2017-11-07 21:19:00
1,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT,NaT
2,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00,2017-03-04 11:04:00
3,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00,2017-03-04 11:19:00
4,b594862a-36c5-47d5-b818-6e9512b939b3,2017-09-27 08:22:00,2017-09-27 08:26:00,NaT
...,...,...,...,...
451,952be3a5-9240-484f-845c-a6b2cbed72ee,2017-05-02 05:40:00,2017-05-02 05:50:00,2017-05-02 06:10:00
452,59d2b685-383a-4fce-a325-35d985713a8b,2017-01-20 03:58:00,NaT,NaT
453,a1203970-92ae-4fc7-843e-e1740c1be9d5,2017-11-12 23:07:00,NaT,NaT
454,55de53ae-89f6-43ff-a26d-df284678aca1,2017-03-17 19:56:00,2017-03-17 20:04:00,NaT
455,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 08:57:00,2017-05-12 09:22:00

Step 8: % of users who got to checkout but did not purchase

In [41]:
purchase_isnull = df3[(~df3.checkout_time.isnull()) & (df3.purchase_time.isnull())].reset_index(drop=True)

In [42]:
purchase_isnull

,user_id,cart_time,checkout_time,purchase_time
0,b594862a-36c5-47d5-b818-6e9512b939b3,2017-09-27 08:22:00,2017-09-27 08:26:00,NaT
1,0c998868-9961-490b-8ec2-9981ba667027,2017-11-27 08:54:00,2017-11-27 09:18:00,NaT
2,f3dd7631-3cf6-4d49-9c6e-b48eda4432b5,2017-01-04 09:57:00,2017-01-04 10:20:00,NaT
3,4cdd357a-199e-4d81-ae9e-7252fa34ee0f,2017-05-23 22:25:00,2017-05-23 22:54:00,NaT
4,3c3460b3-a56d-4d92-908d-29dcca34db18,2017-01-06 14:56:00,2017-01-06 15:06:00,NaT
...,...,...,...,...
77,272ed260-780c-4f0b-bdfd-cd4a4e56a89a,2017-03-04 04:10:00,2017-03-04 04:34:00,NaT
78,a6ded113-aae9-4661-ac12-dad1734e81e3,2017-04-24 19:21:00,2017-04-24 19:41:00,NaT
79,caaad819-a4ff-4fe6-afd9-d75e90a46838,2017-11-21 21:20:00,2017-11-21 21:49:00,NaT
80,1966a6ad-9aa5-4cd3-9a68-35605a1e53f6,2017-10-05 03:33:00,2017-10-05 03:44:00,NaT
81,55de53ae-89f6-43ff-a26d-df284678aca1,2017-03-17 19:56:00,2017-03-17 20:04:00,NaT

In [49]:
percent_not_purchasing = len(purchase_isnull) / len(df3) *100

In [50]:
print(f'{percent_not_purchasing:.2f}%')

17.98%

Step 9: check each part of the funnel, let's print all 3 of them again

In [53]:
print(f'The rate of who visited the page but did not put a T-shirt into the cart is: {vis_percent:.1f}%')
print(f'The rate of who made a cart but did not check out is: {not_checkout_percent:.2f}%')
print(f'The rate of who checked out but did not purchase is: {percent_not_purchasing:.2f}%')

The rate of who visited the page but did not put a T-shirt into the cart is: 82.6%
The rate of who made a cart but did not check out is: 35.06%
The rate of who checked out but did not purchase is: 17.98%

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

Step 11: examine the results

Step 12: average time to purchase