In [87]:
import pandas as pd

Import all the files

In [88]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [89]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [90]:
df1 = visits.merge(cart, how='left')

In [91]:
len(cart)

348

In [92]:
df1.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT

Step 3: How long is `visits_cart`?

In [93]:
len(df1)

2000

Step 4: How many timestamps are null for `cart_time`?

In [94]:
cart_time_null = df1[df1.cart_time.isnull()]

In [95]:
len(cart_time_null)

1652

In [96]:
cart_time_null.head(5)

                                user_id          visit_time cart_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00       NaT
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00       NaT
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00       NaT
5  7bc62113-d51d-4e6b-85e0-1cf29e3de74a 2017-06-03 20:05:00       NaT
6  6f22cd44-bc63-4449-a9af-2651859da2f9 2017-03-18 23:09:00       NaT

In [97]:
not_cart_percent = len(cart_time_null) / len(df1)*100

In [98]:
print(f'{not_cart_percent:.1f}%')

82.6%

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [99]:
df2 = cart.merge(checkout, how='left')

In [100]:
df2.head()

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
2,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
3,b594862a-36c5-47d5-b818-6e9512b939b3,2017-09-27 08:22:00,2017-09-27 08:26:00
4,a68a16e2-94f0-4ce8-8ce3-784af0bbb974,2017-07-26 15:48:00,NaT

In [101]:
checkout_isnull = df2[df2.checkout_time.isnull()]

In [102]:
checkout_isnull.head()

                                 user_id           cart_time checkout_time
1   4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00           NaT
4   a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00           NaT
10  fd80ce93-ae6e-4c0b-9ea4-561f84152026 2017-06-07 01:18:00           NaT
19  48a23075-694b-417d-8449-9df921ad95aa 2017-07-09 15:28:00           NaT
21  5d7d121a-817c-4b84-b4d6-5388092b9aec 2017-06-10 14:54:00           NaT

In [103]:
not_checkout_percent = len(checkout_isnull) / len(df2)*100

In [104]:
print(f'{not_checkout_percent:.2f}%')

35.06%

Step 7: Merge it all together

In [105]:
df3 = df1.merge(df2, how='left').merge(purchase, how='left')

In [106]:
df3.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT

Step 8: % of users who got to checkout but did not purchase

In [107]:
check_out_notnull = df3[~df3.checkout_time.isnull()]

In [108]:
a = len(check_out_notnull)

In [109]:
a

334

In [110]:
checkout_notpurchase = df3[~df3.checkout_time.isnull() & df3.purchase_time.isnull()]

In [111]:
b = len(checkout_notpurchase)

In [112]:
b

82

In [113]:
not_purchase_percent = b/a*100

In [114]:
print(f'{not_purchase_percent:.2f}%')

24.55%

Step 9: check each part of the funnel, let's print all 3 of them again

In [115]:
print(f'The rate of who visited the page but did not put a T-shirt into the cart is: {not_cart_percent:.1f}%')
print(f'The rate of who made a cart but did not check out is: {not_checkout_percent:.2f}%')
print(f'The rate of who checked out but did not purchase is: {not_purchase_percent:.2f}%')

The rate of who visited the page but did not put a T-shirt into the cart is: 82.6%
The rate of who made a cart but did not check out is: 35.06%
The rate of who checked out but did not purchase is: 24.55%

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

In [116]:
df3['time_to_purchase'] = df3.purchase_time - df3.visit_time

In [117]:
df3.time_to_purchase

0                  NaT
1      0 days 00:44:00
2                  NaT
3                  NaT
4                  NaT
             ...
2103               NaT
2104               NaT
2105               NaT
2106               NaT
2107               NaT
Name: time_to_purchase, Length: 2108, dtype: timedelta64[ns]

Step 11: examine the results

Step 12: average time to purchase

In [118]:
df3.time_to_purchase.mean()

Timedelta('0 days 00:43:12.380952380')