In [2]:
import pandas as pd
import numpy as np

In [3]:
values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
               [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90],
               [51, 2.3, 111]]
 
# creating a pandas dataframe
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
 
 
# Apply function numpy.square() to square
# the values of one row only i.e. row
# with index name 'd' 
 
# printing dataframe
df

   Field_1  Field_2  Field_3
a       15      2.5      100
b       20      4.5       50
c       25      5.2       80
d       45      5.8       48
e       40      6.3       70
f       41      6.4       90
g       51      2.3      111

In [4]:
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [5]:
indexes = df.index.to_list()

In [6]:
df['mean_rating'] = df.apply(lambda x: np.mean(x) if x.name  in indexes else x, axis=1)

In [7]:
df

   Field_1  Field_2  Field_3  mean_rating
a       15      2.5      100    39.166667
b       20      4.5       50    24.833333
c       25      5.2       80    36.733333
d       45      5.8       48    32.933333
e       40      6.3       70    38.766667
f       41      6.4       90    45.800000
g       51      2.3      111    54.766667