In [1]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'Fruit': ["guava","apple","orange", "mango"], 'A': [4,1,3,2],'B': [5,3,1,1]})
df2 = pd.DataFrame({'Fruit': ["guava","apple","honeydew","orange", "mango"],'E': [4,2,5,1,2],'C': [3,5,2,1,1],
'D': [4,3,5,3,3]})

df = pd.merge(df1, df2, on='Fruit', how='inner')
df = df.groupby('Fruit').mean().reset_index()

In [2]:
df

    Fruit    A    B    E    C    D
0   apple  1.0  3.0  2.0  5.0  3.0
1   guava  4.0  5.0  4.0  3.0  4.0
2   mango  2.0  1.0  2.0  1.0  3.0
3  orange  3.0  1.0  1.0  1.0  3.0

In [3]:
df.columns.nunique()

6

In [4]:
columns_list = df.columns.unique().to_list()

In [5]:
columns_list

['Fruit', 'A', 'B', 'E', 'C', 'D']

In [14]:
df['F']= np.mean([df[column] for column in columns_list[1:]])

In [15]:
df

    Fruit    A    B    E    C    D    F
0   apple  1.0  3.0  2.0  5.0  3.0  2.6
1   guava  4.0  5.0  4.0  3.0  4.0  2.6
2   mango  2.0  1.0  2.0  1.0  3.0  2.6
3  orange  3.0  1.0  1.0  1.0  3.0  2.6