In [21]:
import numpy as np
import pandas as pd
from scipy.stats import chi2_contingency

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data', names=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'accep'])

# Print contingency table for 'safety' and 'accep'
data_crosstab = pd.crosstab(df.safety, df.accep, margins=False)
print(data_crosstab)
# Value of 'safety' corresponding to highest frequency for 'unacc'
highest_freq_unacc = data_crosstab[data_crosstab.unacc == np.max(data_crosstab.unacc)].reset_index().safety[0]
print(highest_freq_unacc)
# Calculate chi-square statistic for association between 'safety' and 'accep'
stat, p, dof, expected = chi2_contingency(data_crosstab)
chi2_safety = stat
print(chi2_safety)

# Calculate chi-square statistic for association between 'doors' and 'accep'
data_crosstab1 = pd.crosstab(df.doors, df.accep, margins=False)
stat, p, dof, expected = chi2_contingency(data_crosstab1)
chi2_doors = stat
print(chi2_doors)
#Which variable has a higher association with 'accep'?
higher_association = 'safety'

accep   acc  good  unacc  vgood
safety
high    204    30    277     65
low       0     0    576      0
med     180    39    357      0
low
479.3224398131512
10.384780190165564

In [19]:
new = data_crosstab[data_crosstab.unacc == np.max(data_crosstab.unacc)].reset_index().safety[0]

In [20]:
new

'low'

In [3]:
df.head()

  buying  maint doors persons lug_boot safety  accep
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [4]:
df.safety.unique()

array(['low', 'med', 'high'], dtype=object)

In [5]:
df.accep.unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [22]:
df.doors.unique()

array(['2', '3', '4', '5more'], dtype=object)